<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>362703235304-qvooohrhueba6le66etqgtj9evlu61om.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuZmAC8xtMBObBFZNDHIe5EhffBBGioes</string>
	<key>GCM_SENDER_ID</key>
	<string>362703235304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.windesheim.energietransitie.needforheat</string>
	<key>PROJECT_ID</key>
	<string>warmtewachter-7687a</string>
	<key>STORAGE_BUCKET</key>
	<string>warmtewachter-7687a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362703235304:ios:07f3782c5dcc7622bb015d</string>
</dict>
</plist>